 <form class="form-register" id="signupForm">
    <h4>Formulario Registro</h4>
    <input class="controls" type="text" name="name" id="first_name" placeholder="Tu nombre">
    <input class="controls" type="text" name="last_name" id="last_name" placeholder="Tu Apellido">
    <input class="controls" type="email" name="email" id="email" placeholder="Tu correo electronico">
    <input class="controls" type="number" name="number" id="age" placeholder="Tu edad">
    <input class="controls" type="password" name="password" id="password" placeholder="Tu contraseña">
    <button class="botons" type="submit">Registrar</button>
  </form>